.fade_container{
    display: none;
    width: 280px;
    height: 200px;
    background-color: white;
    position:fixed;
    left: 6%;
    bottom: 12%;
    padding: 5px;
    border-radius: 10px;
    border:1px solid lightgray ; 

    /* box-shadow generator code */
    box-shadow:0px 1px 24px 1px rgba(225,219,219,1);
    -webkit-box-shadow:0px 1px 24px 1px rgba(225,219,219,1);
    -moz-box-shadow:0px 1px 24px 1px rgba(225,219,219,1);
}
.fade_container_img_div{
   height: 80px; 
   padding: 10px 0;
}
.fade_container_img_div>.fa-check{
    color: #1a91da;
    font-size: 17px;
}
.txt_div{
    border-bottom:1px solid lightgray ;
    border-top:1px solid lightgray ;  
    height: 50px;
    margin: 0;
    padding: 15px 10px;
    vertical-align: middle;

}
.sec-txt_div{
    border: none !important;
}

/* search focus div */


/* .search:active {
border: 1px solid #1a91da ;
} */

#serch_focus_div{
    width: 89%;
    height: 100px;
    color: gray;
    font-size: 15px;
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
     /* box-shadow generator code */
     box-shadow:0px 1px 24px 1px rgba(225,219,219,1);
     -webkit-box-shadow:0px 1px 24px 1px rgba(225,219,219,1);
     -moz-box-shadow:0px 1px 24px 1px rgba(225,219,219,1);

}

/* trends click div */
.spam{
position: absolute;
padding: 5px;
background-color: white;
width: 90%;
top:17%;
 /* box-shadow generator code */
 box-shadow:0px 1px 24px 1px rgba(225,219,219,1);
 -webkit-box-shadow:0px 1px 24px 1px rgba(225,219,219,1);
 -moz-box-shadow:0px 1px 24px 1px rgba(225,219,219,1);

}
.trend_text{
    padding: 10px;
}
